*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

.page {
    inline-size: 1200px;
    block-size: 100%;
    margin: auto;
    color: #fff;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    background-color: #1b1919;
    display: flex;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

.button {
    height: 34px;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    line-height: 1;
    border: 1px solid currentColor;
    background-color: transparent;
    color: inherit;
    text-align: center;
    cursor: pointer;
}

.button:active {
    background-color: #545050;
}

.button:focus {
    outline: none;
}

.button:focus-visible {
    outline: 1px solid currentColor;
    outline-offset: 1px;
}

.button:hover {
    text-decoration-line: underline;
}

.content {
    display: flex;
    margin: auto;
    align-items: flex-end;
    width: 1140px;
    column-gap: 30px;
}

.title {
    font: 75px/0.94 Oswald, sans-serif, bold;
    text-transform: uppercase;
    margin-top: 2px;
}

.content__accent {
    color: #545050;
}

.content__card-link {
    display: block;
    padding: 2px;
    text-decoration: none;
    color: currentColor;
}

.content__card-link:active {
    background-color: #545050;
}

.content__card-link:focus {
    outline: none;
}

.content__card-link:focus-visible {
    outline: 1px solid currentColor;
}

.content__card-link:hover .content__video-card-title {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

.content__card-link:hover .content__video-card-description {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.content__card-link_current {
    background-color: #545050;
}

.content__details {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    row-gap: 23px;
    width: 100%;
    height: 100%;
}

.content__list {
    position: relative;
    width: 399px;
    height: 298px;
    overflow: auto;
}

.content__list-item:not(:last-child) {
    padding-bottom: 30px;
}

.content__video-card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.content__video-card-description {
    line-height: 0.9;
}

.content__video-card-description-container {
    max-width: 200px;
    max-height: 101px;
    width: 100%;
    height: 100%;
}

.content__video-card-thumbnail {
    width: 194px;
    height: 103px;
    object-fit: cover;
    object-position: center;
}

.content__video-card-title {
    font: 30px/1 Oswald, sans-serif, bold;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 192px;
    padding: 2px 0 6px 0;
}

.more-button {
    width: 100%;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: end;
    row-gap: 16px;
}

.result__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.result__video-container {
    position: relative;
    width: 711px;
    height: 386px;
}

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.search-form__checkbox {
    width: 0px;
    height: 0px;
}


.search-form__checkbox:checked + .search-form__pseudo-checkbox {
    width: 15px;
    height: 15px;
    background-color: currentColor;
    outline: 1px solid currentColor;
    outline-offset: 1px;
    margin: 0 2px;
}

.search-form__checkbox-list {
    display: flex;
    height: 22px;
    column-gap: 15px;
}

.search-form__fieldset {
    display: flex;
    flex-direction: column;
    appearance: none;
    border: none;
    row-gap: 5px;
}

.search-form__fieldset-title {
    font-size: inherit;
    font-weight: normal;
}

.search-form__label {
    display: flex;
    width: fit-content;
    align-items: center;
    column-gap: 5px;
    line-height: 25px;
    align-items: center;
}

.search-form__label:has(:focus-visible) {
    outline: 1px solid currentColor;
    outline-offset: 1px;
}

.search-form__label:hover .search-form__label-text {
    text-decoration: underline;
    text-underline-offset: 3px;
    cursor: pointer;
}

.search-form__label-text {
    font-size: inherit;
}

.search-form__pseudo-checkbox {
    position: relative;
    display: block;
    width: 19px;
    height: 19px;
    border: 1px solid currentColor;
    padding: 1px;
}

.search-form__submit-button {
    width: 194px;
    align-self: flex-end;
}

.search-form__textfield {
    appearance: none;
    width: 225px;
    font-family: inherit;
    font-size: inherit;
    line-height: 23px;
    color: currentColor;
    background-color: transparent;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #ffffff;
}

.search-form__textfield::placeholder {
    color: inherit;
    opacity: 0.7;
    font-size: inherit;
}

.search-form__textfield:focus {
    outline: none;
}